<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <bean id="person" class="com.domain.Person"/>
  <!-- 包扫描方式会扫描子包，也可以加入多个包扫描。多个包用逗号或分号分隔均可 -->
  <context:component-scan base-package="com.domain.bean">
    <!-- 当用正则时，即使不用注解也会被看做Bean -->
    <context:include-filter type="regex" expression=".*og"/>
    <!-- 当用type="annotation"或者不用时，必须用注解标注的才会被看为Bean -->
  </context:component-scan>
  <bean id="person1" class="com.domain.Person"/>

  <bean id="fieldIocBean" class="com.domain.bean.FieldIocBean">
    <property name="schools">
      <list>
        <value>北大</value>
        <value>清华</value>
        <!-- etc -->
      </list>
    </property>
    <property name="scores">
      <map>
        <entry key="语文" value="98"/>
        <entry key="数学" value="100"/>
      </map>
    </property>
    <property name="persons">
      <map>
        <entry key="工人1" value-ref="person"/>
        <entry key="工人2" value-ref="person1"/>
      </map>
    </property>
    <property name="props">
      <props>
        <prop key="sql">mysql</prop>
        <prop key="charset">UTF-8</prop>
      </props>
    </property>
    <property name="citys">
      <set>
        <value>北京</value>
        <value>武汉</value>
      </set>
    </property>
    <property name="books">
      <list>
        <value>儿童书</value>
        <value>小说</value>
      </list>
    </property>
  </bean>

  <!-- 属性占位符配置器(他是一种容器后处理器)，用于读取属性文件 -->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>important.properties</value>
        <!-- 可以多个属性文件 -->
      </list>
    </property>
  </bean>

    <!-- 不扫描Controller -->
    <!--<context:component-scan base-package="com.jd.secondproject">-->
      <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
    <!--</context:component-scan>-->



    <!--引入Spring配置文件-->
    <!--<import resource="spring-config-dao.xml"/>-->
</beans>